%div#contact-email-modal.reveal-modal{ "data-reveal" => true }
  %h1 Email de Contacto
  %p
    Lo invitamos a contactarse con nosotros mediante el email
    %a{ href: 'mailto:contacto@datoscientificos.cl' }
      contacto@datoscientificos.cl.
  %a.close-reveal-modal &#215;
