%div#sic-footer
  %div.sic-info
    = image_tag 'sic-logo2.png'
    %p
      %strong Programa de Información Científica
      %br/
      contacto@informacioncientifica.cl
      %br/
      Compartir:
      %i.fi-social-twitter
      <a href="http://twitter.com/share?url=http://www.informacioncientifica.cl&amp;text=Les%20recomiendo%20el%20Sistema%20de%20Información%20Científica%20-%20SIC">Twitter</a>
      |
      %i.fi-social-facebook
      <a href="http://www.facebook.com/sharer.php?s=100&amp;p[url]=http://www.informacioncientifica.cl&amp;p[title]=Sistema%20de%20Información%20Científica%20-%20SIC%20-%20Visítenlo%20en:%20&amp;p[summary]=sitio%20web%20que%20integra%20y%20centraliza%20los%20distintos%20servicios,%20plataformas%20y%20contenidos%20del%20Programa%20de%20Información%20Científica%20de%20CONICYT&amp;p[images][0]=http://www.informacioncientifica.cl/wp-content/uploads/2013/08/logo_sic.png">Facebook</a>
  %div.conicyt-info
    %div
      %div.left
        = image_tag 'logo-conicyt.png', class: 'logo-conicyt'
      %div.right
        %p
          CONICYT - CHILE
          %br/
          Moneda 1375
          %br/
          Santiago - Chile
          %br/
          Tel.: +56 2 2365-4400 
