%div
  %h3= link_to "Preservar y compartir genera un beneficio público", action: 'beneficio_publico'
  %p
    El acceso a la información científica y a los datos de investigación
    beneficia a los investigadores que abren sus datos, a los
    investigadores que pueden acceder a bases de datos provistas por
    otros investigadores y a la sociedad en general.
  %p= link_to 'Leer más', { :action => 'beneficio_publico'}, :class => 'button tiny'  
