%div
  %h3= link_to "Compartir tus datos aumenta las citas de tus artículos", :action => 'beneficio_investigador'
  %p
    Un estudio sobre investigaciones clínicas del cáncer reveló
    que aquellas publicaciones cuyos datos estaban disponibles
    fueron citadas un 69% más que aquellas que no liberaron sus datos.
  %p= link_to 'Leer más', { :action => 'beneficio_investigador'}, :class => 'button tiny'
