%li
  %a{ 'modal-open' => '#good-practice-info-1' }
    %i.fi-arrow-right
    Utilizar una licencia abierta
  %div#good-practice-info-1.reveal-modal{ "data-reveal" => true }
    %h1 1. Utilizar una licencia abierta
    %p
      Se recomienda usar alguna de las licencias
      = link_to 'Creative Commons', 'http://www.creativecommons.cl/tipos-de-licencias/'
      con atribución para la literatura científica. Estas licencias
      permiten al titular de los derechos autorizar el uso de las
      obras por terceras personas sin perder los derechos de atribución
      de las obras creadas.
    %p
      Estas licencias no sólo son documentos legales, sino que también
      incluye una explicación simple de los derechos y obligaciones que
      confiere al usuario, además de una aplicación en lenguaje de
      máquina para identificar la obra en Internet mediante el empleo
      de opciones avanzadas de búsqueda en buscadores como Google y Yahoo!.
      Además, las licencias Creative Commons están disponibles en más de
      una treintena de idiomas, incluidos el castellano, francés, inglés,
      japonés, chino y ruso, entre otros. De esta forma, el idioma no es
      una traba para los usuarios de las obras licenciadas con licencias
      Creative Commons.
    %p
      Estas ventajas justifican la recomendación del uso de las licencias
      Creative Commons. Sin embargo, otras licencias abiertas también
      podrían ser usadas.
    %a.button{ 'modal-close' => '#good-practice-info-1' } &#9666; &nbsp; Volver
    %a.close-reveal-modal &#215;
