%br/
%dl.sub-nav
  %dt Antecedentes:
  = active_link 'Preguntas frencuentes', 'pages', 'preguntas_frecuentes', 'dd'
  = active_link 'Derechos Bases de Datos', 'pages', 'derechos_bases_de_datos', 'dd'
  = active_link 'Documentos', 'pages', 'documentos', 'dd'
