%div
  %h3= link_to 'El mundo avanza hacia compartir los datos de investigación', :action => 'tendencia_mundial'
  %p
    Numerosos países y organizaciones internacionales han acordado
    compartir y preservar los datos de investigación científica.
    Ejemplos de ellos son la OECD, la Unión Europea, el G8 y la UNESCO.
  %p= link_to 'Leer más', { :action => 'tendencia_mundial'}, :class => 'button tiny'
