%div#heading-area
  %div.row
    %div.large-12.column
      %h1
        Instructivo sobre Derechos de Propiedad Intelectual en Datos
        y Bases de Datos Resultantes de Investigaciones Científicas
      %p.lead
        La ley chilena de propiedad intelectual reconoce a los creadores
        de bases de datos como titulares (dueños) de derechos de autor
        sobre dichas bases y datos, siempre que éstas constituyan obras
        originales. Este breve instructivo orienta a los responsables de
        entidades beneficiarias de los fondos administrados por la
        Comisión Nacional de Investigación Científica y Tecnológica, que
        fabriquen o administren bases de datos e información científica,
        hacia la correcta aplicación de la normativa sobre acceso a datos,
        en lo relativo a sus eventuales derechos de autor sobre ellos.
%div.row
  %div.large-12.columns
    = render 'politica_subnav'
    = render 'layouts/breadcrumbs'
%div.row
  %div.large-7.columns
    %h2 Derechos de Autor del titular de bases de datos
    %p
      La ley concede derechos exclusivos sobre las creaciones humanas
      (y expresamente las científicas) a determinadas personas, de modo
      que quien posee los derechos de autor controla el uso de la obra,
      incluyendo diversas formas de explotación comercial y, en consecuencia,
      es quien dispone de la llave para acceder a dicha información.
    %p
      Las reglas de derechos de autor rigen de forma inmediata desde el
      momento en que se crea una obra original y ésta es fijada en un
      soporte que la hace perceptible por otros. Entre las obras protegidas
      la ley incluye expresamente los datos y las bases de datos, cuando
      cumplan con el estándar de originalidad.
    %p
      Es discutible qué hace una obra original, pero en general se entiende
      como tal el hecho de que la obra sea distinguible formalmente de otras
      similares. Como hemos señalado anteriormente, la originalidad de la base
      de datos radica en la selección de contenidos o en la disposición de los
      mismos, esto es, en que la selección en sí misma resulta original (por
      ejemplo, al seleccionar los doscientos poemas más representativos de la
      poesía nacional), o bien porque el arreglo o disposición que se hace de
      los contenidos resulta original en su presentación. Si una base de datos
      no cumple con alguno de los criterios de originalidad, ella no tiene
      protección por derechos autorales (por ejemplo, una base de datos con
      nombres y apellidos de personas asociado a su domicilio y número
      telefónico, o una base de datos con fechas y horas en que se registran
      las temperaturas máximas y mínimas en una localidad determinada). Así,
      entonces, la base de datos puede o no ser objeto de protección, según si
      satisface o no las exigencias de originalidad previstas en la ley.
    %p
      Sin perjuicio de la protección de una base de datos por derechos de autor,
      los datos o materiales que se incorporan en dicha base de datos pueden
      también ser protegidos. Los datos son protegidos cuando ellos son en sí
      mismos obras originales (por ejemplo, los artículos publicados por
      revistas académicas). En cambio, los datos no son protegidos cuando
      carecen de originalidad (por ejemplo, datos correspondientes a nombre,
      domicilio y número telefónico de una persona incluidos en la guía
      telefónica). De hecho, los datos resultantes de investigación científica
      suelen no ser protegidos por derechos de autor, pues por lo general no
      son obras originales que denotan creatividad, sino circunstancias fácticas
      (por ejemplo, datos de información climática o geográfica).
    %p
      La falta de protección para las bases de datos y datos que no son
      originales ha conducido a algunos países a brindarles una protección
      especial a favor del fabricante de una base de datos, el cual le permite
      controlar el acceso, extracción y reutilización de los datos. En cambio,
      en Chile, como en la mayor parte del mundo, esas bases de datos o datos
      no son protegidos de esa forma.
    %p
      Los derechos de autor sobre una base de datos son distintos de los
      derechos de autor sobre los datos o materiales incluidos en ella. Por
      ejemplo, lo creadores de una base de artículos académicos pueden tener
      derechos autorales sobre la compilación de textos incluidos en su base
      de datos; sin embargo, será cada uno de los autores de dichos artículos
      el titular de los derechos de autor respecto de los artículos de su
      creación.
    %p
      Por el solo hecho de la creación, el autor de una obra se convierte en
      el titular exclusivo de los derechos sobre la misma. Él puede transferir
      todos o algunos de sus derechos económicos a otros. Estos derechos
      tienen una duración limitada y comprenden la publicación, adaptación,
      reproducción, comunicación pública y distribución de la obra. El plazo
      de protección es usualmente la vida del autor más setenta años, expirado
      el cual las obras ingresan al dominio público y pueden, consiguientemente,
      ser utilizadas libremente por toda la comunidad. El titular puede
      autorizar a otros a usar su obra a través de una licencia. Así, quienes
      quieran hacer uso de alguno(s) de los derechos exclusivos que la ley
      confiere al titular de los derechos de autor necesitarán disponer de
      autorización previa; esta puede ser otorgada por ley, o bien por el
      titular de los derecho a través de una licencia.
    %h2 Licencia que permite el acceso a datos
    %p
      CONICYT dispone de una política de acceso a datos de investigación
      científica, que obliga a sus beneficiarios a adoptar las medidas
      necesarias para permitir el acceso, comunicación, y uso de los datos
      de investigación resultantes de iniciativas desarrolladas gracias al
      financiamiento de la Comisión; a poner oportunamente a disposición del
      público los datos de conformidad con las exigencias de un Manual de
      Buenas Prácticas sobre Datos Abiertos; y a permitir a terceros su
      acceso y uso en línea bajo condiciones legales análogas al dominio
      público, incluso si los datos carecen de protección conforme las
      normas de propiedad intelectual. Estas obligaciones son exigibles
      respecto de bases de datos protegidas o no por derechos de autor,
      contengan o no datos protegidos por derechos de autor.
    %p
      Si se trata de bases de datos no protegidos por derechos de autor,
      CONICYT obliga a garantizar que los datos serán efectivamente dados a
      conocer al público. Si se trata de bases de datos con datos que poseen
      de protección autoral, CONICYT exige que sea el propio titular de los
      datos quien ponga los datos a disposición.
    %p
      Para cumplir las exigencias de la política, los titulares deben extender
      una licencia de carácter: a) no exclusivo: permite a la entidad
      responsable de la investigación conceder otras licencias a terceros
      interesados, si los hubiese; b) permanente: ni los datos ni obras
      derivadas a partir de ellos quedan afectos a restricciones temporales;
      c) general: permite tanto usos comerciales como no comerciales, no
      quedar limitado a determinado idioma, región geográfica u otro factor.
      Lo fundamental es que, a través de ésta licencia, el titular pone los
      datos en una situación análoga al dominio público, en caso de que ellos
      estén protegidos por leyes de propiedad intelectual y, a la vez, en el
      caso de aquellos datos que no están protegidos, la licencia clarifica que
      ellos están disponibles para su libre uso. Para este efecto se ha escogido
      una Licencia Creative Commons Cero que permite licenciar e identificar
      obras en dominio público.
    %p
      Esto no significa que CONICYT se atribuya los derechos de propiedad
      intelectual que corresponden a sus beneficiarias, sino que se exige
      que quien detente los datos los haga públicos, y autorice expresamente
      su uso libre por parte de terceros, ajustándose a las mejores prácticas
      disponibles, de acuerdo a los consensos relativos que existen en las
      diversas disciplinas científicas.
    %p
      CONICYT, consciente del impacto que esta nueva política de acceso a datos
      implica para sus beneficiarios, y atendiendo a la gran diversidad de
      personas y entidades que quedan comprendidas en dicha categoría, ha
      contemplado la posibilidad de conferir exenciones de manera discrecional,
      siempre se trate de un caso excepcional en que medie requerimiento escrito
      fundado. Estas exenciones pueden ser temporales (por ejemplo, cuando la
      reserva de los datos sea requerida para efectos de la obtención de una
      patente, o en virtud de la exclusividad de los datos de prueba prevista
      en la ley de propiedad industrial) o indefinidas (por ejemplo, cuando la
      comunicación de los datos pueda afectar la seguridad nacional o no sea
      autorizada por la persona a quien la información se refiere).
    %p
      La política de acceso a datos resultantes de investigación científica y
      tecnológica impulsada por CONICYT tiene por propósito favorecer la amplia
      difusión de dichos resultados en la comunidad científica, para lo cual
      remueve las trabas técnicas y legales que obstaculizan el libre flujo
      de la información.
