%div#heading-area
  %div.row
    %div.large-12.column
      %h1 Entrevista sobre datos científicos abiertos e indicadores cienciométricos
%div.row
  %div.large-12.columns
    = render 'layouts/breadcrumbs'
%div.row
  %div.large-8.columns
    %h3
      Una interesante conversación con la periodista Vicky Quevedo sostuvieron María Soledad Bravo, secretaria ejecutiva de Corporación CINCEL, y Claudio Gutiérrez, profesor del Departamento de Ciencias de la Computación de la Universidad de Chile, en el programa “Milenio” de Radio Universidad de Chile.
    %p
      Los temas centrales que comprendió la entrevista fueron indicadores cienciométricos, a propósito del reciente lanzamiento del último informe sobre esta materia elaborado por Scimago Research Group por encargo de CONICYT, y datos científicos abiertos.
    %p
      En relación con este último punto, cabe indicar que el Programa de Información Científica de CONICYT se encuentra ejecutando una estrategia de difusión de la política de datos científicos abiertos, en la que se ha invitado a participar a representantes de grupos de investigación, y que será aplicable a todos los proyectos apoyados por el Estado. Precisamente, Gutiérrez ha participado activamente en esta iniciativa.
    %p
      Este viernes 26 de septiembre se desarrollará un importante encuentro en torno a esta temática en el Congreso Nacional, en el que participarán especialistas en la materia. 
    
    %div.panel
      %p
        Extracto Programa Milenio de la Radio Universidad de Chile
        del lunes 22 septiembre 2014.
        %em Indicadores "cienciométricos", con investigadores de Conicyt y académicos de la Universidad de Chile.
      %p
        %audio{controls:"controls", type:"audio/mp3", src:"http://f8c4dbbdc094b93f37d9-f9c33a1d94ec7942f550f9dd2c7bd6d9.r85.cf1.rackcdn.com/22-09-14-milenio-uchile-datoscientificos.ogg"}
      %p
        Puede escuchar el
        %a{href:"http://radio.uchile.cl/programas/milenio/hoy-indicadores-cienciometricos-con-investigadores-de-conicyt-y-academicos-de-la-universidad-de-chile-y-hablamos-sobre-el-segundo-festival-de-ingenieria-y-ciencias-de-la-universidad-de-chile",target:'_blank'} programa completo
        en la Radio Universidad de Chile.
