%div#heading-area
  %div.row
    %div.large-12.column
      %h1 Noticias
%div.row
  %div.large-12.columns
    = render 'layouts/breadcrumbs'
%div.row
  %div.large-8.columns
    %div.news-item
      %h4
        %a{href:'/noticias/2'}
          Primer Encuentro de Datos Científicos Abiertos
      %p 21 de octubre de 2014
      %p
        Con lleno total y una activa participación de los asistentes, se realizó el Primer Encuentro sobre Datos Científicos Abiertos. Durante esta jornada los asistentes pudieron conocer sobre las diversas aristas que implica contar con una política de datos abiertos par la ciencia en Chile. La directora del Programa de Investigación Científica de CONICYT, Patricia Muñoz, invitó a la comunidad científica a ser partícipes de la discusión y elaboración de esta futura política.
      %a.button{href:'/noticias/2'} Leer más
    %div.news-item
      %h4
        %a{href:'/noticias/1'}
          Entrevista sobre datos científicos abiertos e indicadores cienciométricos
      %p 25 de septiembre de 2014
      %p
        Una interesante conversación con la periodista Vicky Quevedo sostuvieron María Soledad Bravo, secretaria ejecutiva de Corporación CINCEL, y Claudio Gutiérrez, profesor del Departamento de Ciencias de la Computación de la Universidad de Chile, en el programa “Milenio” de Radio Universidad de Chile.
      %a.button{href:'/noticias/1'} Leer más
  %div.large-4.columns
    %h2 En otros medios
    %p
      %a{:target => '_blank', :href => 'http://www.conicyt.cl/informacioncientifica/2014/09/26/programa-de-informacion-cientifica-de-conicyt-invita-a-dialogar-en-torno-a-datos-cientificos-abiertos/'} Programa de Informacion Científica de CONICYT invita a dialogar en torno a datos cientificos abiertos.
      Noticias portal de CONICYT, 26 de septiembre de 2014.
    %p
      %a{:target => '_blank', :href => 'http://www.elmostrador.cl/cultura/2014/09/25/datos-cientificos-abiertos-para-la-comunidad-una-revolucion-de-la-ciencia-en-chile/'} Datos científicos abiertos para la comunidad: una revolución de la ciencia en Chile.
      Reportaje de Héctor Cossio. El Mostrador, 25 de septiembre de 2014.
    %p
      %a{:target => '_blank', :href => 'http://www.quepasa.cl/articulo/opinion---posteos/2014/09/20-15309-9-por-un-conocimiento-comun.shtml'} Por un conocimiento común.
      Columna de Claudio Gutiérrez en la revista Qué Pasa, 25 de septiembre de 2014.
    %p
      %a{:target => '_blank', :href => 'http://radio.uchile.cl/programas/milenio/hoy-indicadores-cienciometricos-con-investigadores-de-conicyt-y-academicos-de-la-universidad-de-chile-y-hablamos-sobre-el-segundo-festival-de-ingenieria-y-ciencias-de-la-universidad-de-chile'} Indicadores "cienciométricos", con investigadores de CONICYT y académicos de la Universidad de Chile.
      Entrevista a María Soledad Bravo (CONICYT) y Claudio Gutierrez (Universidad de Chile) en Programa Milenio de la Radio Universidad de Chile del lunes 22 septiembre 2014.
