%div#heading-area
  %div.row
    %div.large-12.columns
      %h1 Participación
      %p.lead
        En un contexto en que la preservación de datos  de datos de
        investigación científica y el acceso abierto a éstos han adquirido
        una sostenida relevancia, la Comisión Nacional de Investigación
        Científica y Tecnológica, CONICYT, invita a la comunidad científica
        chilena a intercambiar ideas en torno al diseño e implementación de
        una política nacional para el acceso y la preservación de datos de
        investigación financiados con fondos públicos.
%div.row
  %div.large-12.columns
    = render 'layouts/breadcrumbs'
%div
  %div.row
    %div.large-7.columns
      %p
        En este marco, los científicos y las instituciones de investigación
        desempeñan un rol fundamental para  garantizar la preservación y
        facilitar el acceso a los datos. Contar con la colaboración de los
        miembros de la comunidad científica nacional al respecto no sólo
        aumentará el impacto de sus propias investigaciones, sino que también
        generará un activo que estará disponible para toda la comunidad,
        potenciando así la labor investigativa en general.
    %div.large-5.columns
      %h3 ¿Cómo garantizar el acceso a información y datos científicos?
      %p
        Chile necesita una política de acceso y preservación de información y
        datos de investigaciones científicas financiadas con fondos públicos.
        CONICYT ha elaborado
        = link_to('una propuesta', :controller => 'pages', :action => 'documentos') + ','
        pero necesitamos su opinión para perfeccionarla.
      %a.feedback-landing.button Esperamos su opinión
