%div#heading-area
  %div.row
    %div.large-12.column
      %h1 Testimonios
%div.row
  %div.large-12.columns
    = render 'layouts/breadcrumbs'
%div.row
  %div.large-6.columns
    %h3 Un elemento sustancial de la Ciencia es la idea de la circulación abierta de la información.
    %p Entrevista al profesor Claudio Gutiérrez del departamento de Ciencias de la Computación de la Universidad de Chile.
  %div.large-6.column
    %div.flex-video.widescreen.vimeo
      %iframe{'src' => 'http://player.vimeo.com/video/84186410', 'width' => '300', 'height' => '169', 'frameborder' => '0', 'webkitAllowFullScreen' => true, 'mozallowfullscreen' => true, 'allowFullScreen' => true}
%div.row
  %div.large-6.column
    %h3 Para compartir el saber hay que minimizar la fricción que producen los derechos de propiedad intelectual.
    %p Francisco Vera, Director de Proyectos de la ONG Derechos Digitales presenta una aproximación a las implicancias legales de la apertura de datos.
  %div.large-6.column
    %div.flex-video.widescreen.vimeo
      %iframe{'src' => 'http://player.vimeo.com/video/85888085', 'width' => '300', 'height' => '169', 'frameborder' => '0', 'webkitAllowFullScreen' => true, 'mozallowfullscreen' => true, 'allowFullScreen' => true}
